 @{
    ViewData["Title"] = "Pagina Inicial";
}
 
 <main class="main">
 <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

      <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="container position-relative">

          <div class="carousel-item active">
            <div class="carousel-container">
              <h2>Seja bem-vindo à ICars</h2>
              <p>Na ICars, acreditamos que cada viagem merece começar com praticidade, conforto e confiança. Nossa missão é oferecer mobilidade com qualidade, garantindo que você tenha o veículo perfeito para qualquer ocasião, seja uma viagem a trabalho, férias em família ou um passeio especial.</p>
              <a href="#about" class="btn-get-started">Saiba Mais</a>
            </div>
          </div><!-- End Carousel Item -->

          <div class="carousel-item">
            <div class="carousel-container">
              <h2>Comodidade</h2>
              <p>Transforme a forma como você viaja: aluguéis descomplicados, carros perfeitos e suporte sempre ao seu lado. Vamos juntos fazer o caminho valer a pena.</p>
              <a href="#about" class="btn-get-started">Saiba Mais</a>
            </div>
          </div><!-- End Carousel Item -->

          <div class="carousel-item">
            <div class="carousel-container">
              <h2>Futuro</h2>
              <p>Planeje menos, viva mais. Com nossa frota diversificada, você encontra o carro ideal para cada momento, seja para negócios, lazer ou viagens inesquecíveis.</p>
              <a href="#about" class="btn-get-started">Saiba Mais</a>
            </div>
          </div><!-- End Carousel Item -->

          <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>

          <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>

          <ol class="carousel-indicators"></ol>

        </div>

      </div>

    </section><!-- /Hero Section -->

    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-cyan position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Agilidade</h3>
              </a>
              <p>Temos uma equipe preparada para auxiliar você a escolher os melhores carros!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Rastreio</h3>
              </a>
              <p>Nossa equipe estará disponivel para caso aconteça algum acidente!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Foco no cliente</h3>
              </a>
              <p>Temos as melhores opções de carros no mercado. Escolha o seu e use para passeio, trabalho e outros!</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item item-red position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Feedback</h3>
              </a>
              <p>Feedbacks positivos, somos uma das maiores empresas do Brasil no ramo de aluguel!</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->
        </div>

      </div>

    </section><!-- /Featured Services Section -->

     <!-- About Section -->
    <section id="about" class="about section light-background">

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="https://blog.usecarbrasil.com.br/wp-content/uploads/2024/09/DOLPHIN-MINI-EV-branca-metalica-1.png" class="img-fluid" alt="">
            <a  class="glightbox"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Por que escolher a ICars?</h3>
            <p class="fst-italic">
              Contamos com uma ampla seleção de veículos para atender às suas necessidades: carros econômicos para o dia a dia, SUVs espaçosos para viagens em grupo, sedãs de luxo para ocasiões especiais e até opções sustentáveis como híbridos e elétricos.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Não há surpresas. Trabalhamos com tarifas competitivas e sem taxas ocultas. Você sabe exatamente pelo que está pagando.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Para sua conveniência, entregamos e recolhemos o veículo onde for melhor para você, seja no aeroporto, em casa ou no escritório.</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Aproveite programas de fidelidade, descontos em aluguéis prolongados e promoções sazonais que tornam sua experiência ainda mais vantajosa.</span></li>
            </ul>
            <p>
              Todos os nossos veículos passam por rigorosas inspeções e manutenções regulares, garantindo sua segurança e tranquilidade na estrada. Além disso, oferecemos assistência 24 horas para que você nunca fique na mão.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sobre nós</h2>
        <p>Com um sistema de reservas online intuitivo e atendimento em tempo real, você pode escolher seu carro, definir o período e confirmar sua locação em minutos. Se preferir, oferecemos atendimento presencial em nossas lojas ou suporte por telefone.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="
            https://images.assets-landingi.com/uc/888dc43e-d967-4b86-9a4a-2f5a0929393b/PEUGEOT208LIKEESSENCIAL.webp" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>O Que Faz da ICars a Melhor Escolha?</h3>
            <p class="fst-italic">
              Na ICars, entendemos que cada cliente tem necessidades únicas, por isso estamos comprometidos em oferecer soluções personalizadas, atendimento excepcional e uma experiência que vai além das expectativas. Alugue com quem entende de mobilidade e faça da sua próxima viagem uma experiência inesquecível.

Entre em contato conosco e descubra por que somos a escolha certa para sua jornada!
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span>Foco no cliente</span></li>
              <li><i class="bi bi-check"></i> <span>Carros revisados</span></li>
              <li><i class="bi bi-check"></i> <span>Suporte Técnico</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="https://s2.glbimg.com/qpKQ7CGJlatPSBZ3LtkizlCa9B0=/0x0:620x380/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_cf9d035bf26b4646b105bd958f32089d/internal_photos/bs/2020/Y/S/A4bz0uQBAFQ5sZuERu7w/2014-10-24-fiat-siena-el.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>Transparência e Confiabilidade</h3>
            <p class="fst-italic">
              Aqui, você nunca terá surpresas desagradáveis. Trabalhamos com preços claros, contratos simples e sem taxas ocultas. Você sabe exatamente o que está contratando, sempre com confiança.
            </p>
            <p>
             Imprevistos acontecem, e estamos preparados para ajudar. Nossa assistência 24 horas está pronta para resolver qualquer problema, seja uma troca de pneu, dúvidas sobre o veículo ou questões na estrada.
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="https://seminovos.unidas.com.br/storage/arquivo/2021/08//EWIKZeEMd2TFHVT8f0hJir8HzSZzrZbTBrB1UT9v.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>Vantagens Exclusivas Para Você</h3>
            <p>Para sua conveniência, levamos o carro até você. Oferecemos entrega e devolução em aeroportos, hotéis, residências ou onde mais for necessário.</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>Planos Flexíveis: Escolha entre aluguéis diários, semanais, mensais ou planos de longa duração.</span></li>
              <li><i class="bi bi-check"></i><span>Descontos Personalizados: Promoções exclusivas para empresas, viagens em grupo e ocasiões especiais.</span></li>
              <li><i class="bi bi-check"></i> <span>Fidelidade que Recompensa: Acumule pontos em cada locação e troque por dias grátis ou upgrades de veículo.</span>.</li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="https://assets.disaltecnologia.com.br/catalog/cover/7d080d0232aa8fcb674ae355ad90fc07.webp" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>Estamos Aqui Para Movimentar Sua Vida!</h3>
            <p class="fst-italic">
              Na ICars, nosso objetivo vai além de alugar carros: queremos ser parceiros da sua jornada, proporcionando soluções de mobilidade que unam eficiência, conforto e confiança.
            </p>
            <p>
              Faça parte dessa experiência! Alugue seu próximo carro com a ICars e sinta a diferença.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->
 </main>

 <footer id="footer" class="footer dark-background">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Este projeto é de cunho Educativo feito por Camila Fernandes, Kauan Sobrenome, Matheus Amorim</h4>
            <p><Sect> inscreva para receber emails com promoções!</Sect></p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Inscreva-se"></div>
              <div class="loading">Carregando</div>
              <div class="error-message"></div>
              <div class="sent-message">Seu requerimento de inscrição foi feito com sucesso!</div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">ICars</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Mestre Yoda</p>
            <p>SENAI, Camaçari BAHIA</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+55 71 99999-9999</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Página Inicial</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre nós</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Serviços</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nossos Serviços</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Aluguel de carros</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Emprestimos consignado</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Gerenciamento de aluguel</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Siga-nos nas redes sociais</h4>
          <p>É possível que os links sejam ficticios.</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">ICars</strong> <span>Todos os direitos reservados</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Desenvolvido por<a href="https://bootstrapmade.com/">Matheus, Camila, Kauan</a>
      </div>
    </div>

  </footer>